<div  class='degreesLayoutContainer'>
    <div class="header">
        <div class='corner topLeft'>&nbsp;</div>
        <div class="content">
            <span class="logo dijitInline"></span>
        </div>
        <div class='corner topRight'>&nbsp;</div>
    </div>
    <div class="separator"></div>
    <div dojoAttachPoint='containerNode' class="container"></div>
    <div class="separator"></div>
    <div class="footer">
        <div class='corner bottomLeft'>&nbsp;</div>
        <div class="content"></div>
        <div class='corner bottomRight'>&nbsp;</div>
    </div>
</div>