.degreesUserLayoutContainer {

}

.degreesUserLayoutContainer .header {

    height: 50px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;

}

.degreesUserLayoutContainer .footer {

    height: 50px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;

}

.degreesUserLayoutContainer .corner {
    background: url('../../../../../images/corners.png') no-repeat;
    position: absolute;
    height: 50px;
    width: 25px;
}

.degreesUserLayoutContainer .header .topLeft {
    left: 0px;
    top: 0px;
}

.degreesUserLayoutContainer .header .topRight {
    background-position: -25px 0px;
    right: 0px;
    top: 0px;
}

.degreesUserLayoutContainer .footer .bottomLeft {
    background-position: -50px 0px;
    left: 0px;
    top: 0px;
}

.degreesUserLayoutContainer .footer .bottomRight {
    background-position: -75px 0px;
    right: 0px;
    top: 0px;
}

.degreesUserLayoutContainer .content {
    background: url('../../../../../images/headerBg.png');
    height: 50px;
}

.degreesUserLayoutContainer .footer .content {
    background: url('../../../../../images/footerBg.png');
}

.degreesUserLayoutContainer .header .content .logo {
    background: url('../../../../../images/logo.png') no-repeat;
    width: 200px;
    height: 50px;

}

.degreesUserLayoutContainer .header .content .logout {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 5px;
}

.degreesUserLayoutContainer .container {
    height: 80%;
    vertical-align: middle;
    background-color: white;
}

.degreesUserLayoutContainer .separator {
    background: gray;
    height: 5px;
}

.degreesUserLayoutContainer .separatorTop{
    background: gray;
    height: 30px; 
}

.degreesUserLayoutContainer .toolbar{
    width : 70%;
    display : inline-block;
}

.degreesUserLayoutContainer .dijitToolbar {
    background: gray;
    height: 30px;
    color: white;
    font-weight: bold;
}

.degreesUserLayoutContainer .dijitToolbar .button {
    height: 28px;
    min-width: 100px;
    text-align: center;

}

.degreesUserLayoutContainer .dijitToolbar .dijitButtonHover {
    background-color: #696969;
    border: 1px black solid;
    color: white;

}

.tundra .degreesUserLayoutContainer .dijitToolbar .dijitButton .dijitButtonNode {
    font-weight:bold;
    font-size: 16px;
    color: white;
}

.tundra .degreesUserLayoutContainer .dijitToolbar .dijitButtonHover .dijitButtonNode {
    color: white;
}

.degreesUserLayoutContainer .container .degreesUserLayoutContainer-child {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.degreesUserLayoutContainer .container .holder {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.degreesUserLayoutContainer .container .containerNode{
    height : 95%;
}