.degreesLayoutContainer{

}

.degreesLayoutContainer .header{
    
    height : 50px;
    position : relative;
    padding-left : 25px;
    padding-right : 25px;

}
.degreesLayoutContainer .footer{

    height : 50px;
    position : relative;
    padding-left : 25px;
    padding-right : 25px;

}

.degreesLayoutContainer .corner{
    background: url('../../../../images/corners.png') no-repeat;
    position : absolute;
    height : 50px;
    width : 25px;
}


.degreesLayoutContainer .header .topLeft{
    left : 0px;
    top : 0px;
}

.degreesLayoutContainer .header .topRight{
    background-position: -25px 0px;
    right : 0px;
    top : 0px;
}

.degreesLayoutContainer .footer .bottomLeft{
    background-position: -50px 0px;
    left : 0px;
    top : 0px;
}

.degreesLayoutContainer .footer .bottomRight{
    background-position: -75px 0px;
    right : 0px;
    top : 0px;
}

.degreesLayoutContainer .content{
    background: url('../../../../images/headerBg.png');
    height : 50px;
}

.degreesLayoutContainer .footer .content{
    background: url('../../../../images/footerBg.png');
}

.degreesLayoutContainer .header .content .logo{
    background: url('../../../../images/logo.png') no-repeat;
    width : 200px;
    height : 50px;
    
}



.degreesLayoutContainer .container{
     min-height: 80%;
    vertical-align:middle;
    background-color:white;
}

.degreesLayoutContainer .separator{
    background-color : gray;
    height : 5px;
}

.degreesLayoutContainer .container .degreesLayoutContainer-child{
    margin-right : auto;
    margin-left : auto;
    padding : 10px;
}