.degreesLogon{   
}

.degreesLogon .table{
	margin-right  : auto;
	margin-left  : auto;
}

.degreesLogon .logon{
    float : right;
}

.degreesLogon .fb{
    margin : .2em;
}

.degreesLogon .label{
	font-weight : bold;
}


.degreesLogon .message{
	color : red;
	font-size : 12px;
}

.degreesLogon .createAcount{
	color:#708090;
}

