<div class='degreesUserProfile'>
   
    <table>
        <tr>
            <th class='label tableHeader'>Info</th>
            <td>
                <table>
                    <tr>
                        <td class='label'>Email :</td>
                        <td dojoAttachPoint='emailNode'></td>
                    </tr>
                    <tr>
                        <td class='label'>Sex :</td>
                        <td dojoAttachPoint='sexNode'></td>
                    </tr>
                    <tr>
                        <td class='label'>Birthday :</td>
                        <td dojoAttachPoint='birthdayNode'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
