<div class="degreesLogon">
    <form dojoAttachPoint='form' onsumbit='return false;' dojoType='dijit.form.Form' dojoAttachEvent='onSubmit : _onSubmit'>
        <div class="textBox">
            <label>Username :</label>
            <input dojoType="dijit.form.ValidationTextBox" required='true' name="user"/>
        </div>
        <div class="textBox">
            <label>Password :</label>
            <input dojoType="dijit.form.ValidationTextBox" required='true' type="password" name="password"/>
        </div>
        <div class="textBox logonBox">
        <button class="logon" dojoType="dijit.form.Button" type='submit'>Logon</button>
        <div class="textBox">
    </form>
</div>