<div class='degreesUserLayoutContainer'>
    <div class="header">
        <div class='corner topLeft'>&nbsp;</div>
        <div class="content">
            <span class="logo dijitInline"></span>
            <span class='logout' dojoAttachEvent='onclick:_logOut'>Logout</span>
        </div>
        <div class='corner topRight'>&nbsp;</div>
    </div>
    <div class="separatorTop">
        <div class="toolbar" dojoType='dijit.Toolbar' dojoAttachPoint='toolbar'></div>        
    </div>
    <div class="container">
        <div class='holder leftPane'>
            <div dojoAttachPoint='profilePicture' dojoType='degrees.user.ProfilePicture' class='profile'></div>
        </div>
        <div class="holder rightPane">
            <div class="information" dojoAttachPoint='nameNode'></div>
            <hr/>
            <div class="containerNode" dojoAttachPoint="containerNode">                
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="footer">
        <div class='corner bottomLeft'>&nbsp;</div>
        <div class="content"></div>
        <div class='corner bottomRight'>&nbsp;</div>
    </div>
</div>